POSTGRES_DB=clahan_bank
POSTGRES_USER=clahan
POSTGRES_PASSWORD=clahan123
DATABASE_URL=postgresql+psycopg://clahan:clahan123@postgres:5432/clahan_bank
SAVINGS_SERVICE_URL=http://savings-service:8001
CURRENT_SERVICE_URL=http://current-service:8002
TRANSACTIONS_SERVICE_URL=http://transactions-service:8003
FRONTEND_URL=http://frontend:8080
